/*
Developers:
Sasa Zhang 25117151
Ruoshi Wu 27448724
Jinchen Hu 40080398

*/
body {
    font-family: "Nunito", sans-serif;
    position: relative;
    background: linear-gradient(to right bottom, #f7f5fb 50%, #fff 50%);
}

.menu-navbar {
    min-height: 4rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
    top: 0;
    /*position: fixed;*/
    z-index: 2
}

.menu-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: rgba(255, 255, 255, .85);
}


/*.nav-link:hover{*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.left-menu{
    width: 200px;
}

footer {
    text-align: center;
    color: white;
    margin-top: auto
}

.container {
    margin-top: 10px;
}

/*.row {*/
/*    height: auto;*/
/*}*/

.col-md-6 {
    border: gray dotted 2px;
    padding: 5px;

}

.top {
    position: relative;
    display: block;
    height: 68px;
    line-height: 50px;
    overflow: hidden;
    z-index: 2;
    padding: 0.01em 16px;
    display: -ms-flexbox;
    display: flex;
}

.cms-logo {
    font-family: Verdana, serif;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 36px;
    text-shadow: 2px 2px 10px darkblue;
    letter-spacing: 2px;
    color: floralwhite;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 17px;
    z-index: 3;
}

.cms-logo:hover {
    color: chartreuse;
    text-decoration: none;
}

.montreal-img > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0.75;
}
.navbar-nav li > a {
    text-transform: capitalize;
    color: #333;
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}
.navbar-nav li > a:hover, .navbar-nav li > a:focus {
    background-color: #333;
    color: #fff;
}

.navbar-nav li.active > a {
    color: #fff;
    font-weight: bold;
    background: #333333;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.row-bottom-margin{
    height: auto;
}

.invalid-input{
    color: red;
    font-weight: bold;
}


/*css for sidebar*/
#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.3rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.carousel-inner > .carousel-item > img, .carousel-inner > .item > a > img {

    height: 500px;
}
.card-img-top {
    height: 200px !important;
}